
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


*{
   text-align: left;
   margin: 0 auto;
}

.text__big{
   font-family: 'Lato', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 150%;
   max-width: 810px;
   color: #1E212C;
   margin-bottom: 38px;
}

.text_o{
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
max-width: 810px;
color: #1E212C;
margin-bottom: 40px;
}

.text_t{
   font-family: 'Lato', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   max-width: 810px;
   color: #1E212C;
   margin-bottom: 60px;
   }

.lorem{
   max-width: 750px;
   color: #1E212C;
   margin: 0 auto;
   margin-bottom: 62px;


}
.mauris{
   max-width: 810px;
   font-family: 'Lato', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   color: #1e212c;
   margin-bottom: 39px;
}
.ade ul{
   text-indent: 20px;
   font-family: 'Lato', sans-serif;
   font-style: normal;
   font-weight: 400;
   max-width: 600px;
   margin-bottom: 38px;


}
.enim{
   font-family: 'Lato', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   max-width: 810px;
   color: #1E212C
}
.header{
   font-size: 50px;
   font-family: "Lato" , sans-serif;
   font-weight: 900;
   max-width: 810px;
   margin-bottom: 104px; 
   color: #1E212C;
   
}

.image{
   margin-bottom: 68px;
   max-width: 100%;
}
.border{
   background-color: black;
}


[class*="__container"]
{
   max-width: 810px;
   margin: 0 auto;
}

.phone{
   max-width: 800px;
   height: 300px;
   background-color: aqua;
   background-image: url(../img/realistic-neon-lights-background_52683-59889.webp);
   margin-bottom: 100px;
   margin-top: 100px;
}

.cook{
   max-width: 800px;
   height: 300px;
   background-color: rgb(0, 38, 255);
   background-image: url(../img/Twitter.png);
   background-repeat:repeat ;
   margin-bottom: 100px;
}

.cookx{
   max-width: 800px;
   height: 300px;
   background-color: rgb(0, 38, 255);
   background-image: url(../img/Twitter.png);
   background-repeat:repeat-x ;
   margin-bottom: 100px;
}

.cooky{
   max-width: 800px;
   height: 300px;
   background-color: rgb(0, 38, 255);
   background-image: url(../img/Twitter.png);
   background-repeat:repeat-y ;
   margin-bottom: 100px;
}

.cookpol{
   background-repeat: no-repeat;
   max-width: 800px;
   height: 300px;
   background-color: rgb(0, 38, 255);
   background-image: url(../img/Twitter.png);
   background-position: right top;
   margin-bottom: 100px;
}

.cookpoly{
   background-repeat: no-repeat;
   max-width: 800px;
   height: 300px;
   background-color: rgb(0, 38, 255);
   background-image: url(../img/Twitter.png);
   background-position: 200px 50px;
   margin-bottom: 100px;
}

.scroll{
   background-repeat: repeat-x;
   max-width: 800px;
   height: 300px;
   background-color: rgb(0, 38, 255);
   background-image: url(../img/Twitter.png);
   background-attachment: fixed;
   margin-bottom: 100px;
}






