@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


body {
   font-family: "Lato";
   color: #424551;
}

[class*="__container"] {
   max-width: 1230px;
   margin: 0 auto;
}

.page__title {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   color: #1E212C;
   margin-bottom: 40px;

}

.page__main-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   margin-bottom: 74px;
}

.page__pod-title {
   font-weight: 700;
   font-size: 28px;
   line-height: 150%;
   color: #1E212C;
   margin-bottom: 24px;
}

.page__main-text ul {
   margin-bottom: 50px;
}

.page__main-text li {
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   margin-bottom: 4px;
   padding-left: 36px;
   background: url(../img/vector.png) 0 6px no-repeat;
}

.page__overpod-title {
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   color: #1E212C;
   margin-bottom: 20px;
}

.page__text {
   font-weight: 400;
   font-size: 20px;
   line-height: 150%;
   color: #787A80;
   margin-bottom: 32px;
}

.page__text ul {
   margin-bottom: 32px;
}

.page__text li {
   padding-left: 36px;
   font-size: 16px;
   line-height: 160%;
   color: #424551;
   font-weight: 700;
}

.rate {
   background: url(../img/star.png) 0 6px no-repeat;
}

.courses {
   background: url(../img/video.png) 0 6px no-repeat;
}

.students {
   background: url(../img/student.png) 0 6px no-repeat;
}


.homework__title {
   margin: 0 auto;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 30px;
   padding: 10px;
}

.homework__title:hover {
   margin: 0 auto;
   background-color: black;
   color: aquamarine;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 50px;
   padding: 10px;
}

.start {
   max-width: 200px;
   background-color: black;
   margin-top: 100px;
   font-size: 50px;

}

.start:hover {
   background-color: black;
   color: red;
}

.second {
   color: rgb(255, 0, 0);
   width: 100px;
   height: 300px;
   background-color: rgb(255, 0, 0);
   opacity: 0;
}

.second:hover {
   color: rgb(0, 0, 0);
   width: 100px;
   height: 300px;
   background-color: rgb(0, 0, 0);
   opacity: 1;
}

.third {
   color: rgb(255, 0, 0);
   width: 1000px;
   height: 50px;
   background-color: rgb(255, 0, 0);
   opacity: 0;
}

.third:hover {
   color: rgb(0, 0, 0);
   width: 1000px;
   height: 50px;
   background-color: rgb(0, 0, 0);
   opacity: 1;
}

.fourth {
   margin-left: 980px;
   color: rgb(255, 0, 0);
   width: 20px;
   height: 250px;
   background-color: rgb(255, 0, 0);
   opacity: 0;
}

.fourth:hover {
   margin-left: 980px;
   color: rgb(0, 0, 0);
   width: 20px;
   height: 250px;
   background-color: rgb(0, 0, 0);
   opacity: 1;
}


.end {
   margin-left: 950px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 30px;
}

.end:hover {
   margin-left: 950px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 60px;
   color: orangered;
}